<% include templates/top.ejs %>
<div class="right">
	<div class="rt-span">
	<span class="glyphicon glyphicon-camera icon-bg-grey"></span> &nbsp &nbsp 
	</div>
	<div class="rt-span">
		<div class="img-placeholder">
			<a href="/pages/photos/<%=upl.photoValues[0].id %>"><img src="../../img/<%=upl.photoValues[0].filename %>" width="100%" height='' alt="<%=upl.photoValues[0].filename %>"  /></a>
		</div>		
		<div class="tag-ctn">
		<% for(var i = 0; i < upl.tagValues.length; i++){ %>
	<div class="new-tag">
		<%= upl.tagValues[i].tagName %>
	
	</div>
<% } %>
	</div>
	<div class="new-form-contain">
	<form action="/add" method="post">
		<label for="caption">Add Tags</label>
		<input type="text" name="tag" />
		<input type="hidden" name="photoid" value="<%=upl.photoValues[0].id %>">
		<input type="submit" name="submit" value="Add" class="submit">
	</form>
	</div>
	</div>
						
</div>
</div>

<% include templates/footer.ejs %>