<% include templates/top.ejs %>
<div class="right">
	<div class="rt-span">
	<span class="glyphicon glyphicon-camera icon-bg-grey"></span>
	</div>
<div class="rt-span">
	<div class="img-placeholder">
		<img src="../img/<%=views.photoValues[0].photoName %>" width="100%" height="" alt="<%=views.photoValues[0].caption %>" />
	</div>
	<div class="comment-container">
		<div class="likes-container">
			<a href="#likes" name="likes" id="likes"><span class="glyphicon glyphicon-heart-empty likes"></span></a> <span class="likes-count"><%= views.photoLikes.length %></span>
		</div>
		<% for (i=0; i < views.photoComments.length ; i++){ %>
		<div class="com-ctn">
			<span class="user-ctn">@<%= views.photoUser[0].firstName %></span>
			<span class="user-comm">
				<%= views.photoComments[i].text %>	
			</span>
		</div>
		<% } %>
		<div class="comment-form">
			<form action="/add/comment" method="post">
			<input type="hidden" class="comment-box" name="photoid" value="<%=views.photoValues[0].photoId %>">
			<input type="hidden" class="comment-box" name="userid" value="<%=views.photoUser[0].id %>">
			<input type="text" class="comment-box" name="comment" placeholder="Type Your Comment Here...">
			<input type="submit" name="submit-comment" class="submit" value="Post">
			</form>
		</div>
	</div>
	</div>
</div>

<% include templates/footer.ejs %>